<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>Why hello there, friends, this page is about.... you guessed it.  Us. </p>
<a href="http://railstutorial.org/">Rails tutorial book</a>
<h6>So there's that too if you wanted it.</h6>
